<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="formErrorsFrangment">
    <ul th:if="${#fields.hasAnyErrors()}" style="color:red">
        <li th:each="err : ${#fields.allErrors().stream().sorted()}"
            th:text="${err.split('-')[2]}"
            th:data-error-field="${err.split('-')[1]}"></li>
    </ul>
    <script>
        const li = document.querySelector("ul li");
        const errorFieldName = li.dataset.errorField;

        if(errorFieldName.length > 0) {
            const form = document.querySelector("form");

            setTimeout(() => {
                form[errorFieldName].focus();
            }, 1);
        }
    </script>
</th:block>

</body>
</html>